<template>
  <div>
    <div class="b-header"><h1>{{ greeting }}</h1></div>
    <div class="b-calendar-app">
      <div class="b-calendar">
        <Month
            v-for="(month, index) in months" :key="index" :month="month"
            :is-first-month-in-list="index === 0"
            :is-last-month-in-list="index === months.length - 1"
        />
      </div>
      <ControlPanel/>
    </div>
  </div>
</template>

<script>
import Month from "./Month";
import ControlPanel from "./ControlPanel";

export default {
  name: 'Calendar',
  components: {ControlPanel, Month},
  props: {
    greeting: String
  },
  computed: {
    /**
     * Array of months (Date objects) to render in calendar
     *
     * @return [Date]
     */
    months() {
      const {dateStart, dateEnd} = this.$store.state.period;
      const months = [];

      const dateIterator = new Date(dateStart.getTime());
      dateIterator.setDate(1);

      while (
        dateIterator.getMonth() <= dateEnd.getMonth()
        || dateIterator.getFullYear() !== dateEnd.getFullYear()
      ) {
        months.push(new Date(dateIterator.getTime()));
        dateIterator.setMonth(dateIterator.getMonth() + 1);
      }

      return months;
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .b-calendar-app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
  }
  .b-calendar {}
  .b-header {
    margin: 40px 0;
    text-align: center;
  }
</style>
