<template>
  <div class="b-control-panel">
    <div class="b-control--group">
      <div class="b-control--row">
        <div class="b-control--input-block">
          <label for="date-start-input" class="b-control--label">Date start:</label>
          <datepicker id="date-start-input" placeholder="Select Date"
                      :disabled-dates="startDatepickerDisabledDates"
                      @selected="validateDateStart"
                      input-class="b-control--input"
                      v-model="dateStart"></datepicker>
        </div><!-- .b-control--input-block-->
        <div class="b-control--input-block">
          <label for="date-end-input" class="b-control--label">Date end:</label>
          <datepicker id="date-end-input" placeholder="Select Date"
                      :disabled-dates="endDatepickerDisabledDates"
                      @selected="validateDateEnd"
                      input-class="b-control--input"
                      v-model="dateEnd"></datepicker>
        </div><!-- .b-control--input-block-->
      </div><!-- .b-control--row-->
      <div class="b-control--row">
        <button class="button b-control--button b-control--button_full-width"
                :class="{'warning': showDatesChangeWarning}"
                :disabled="loadDataDisabled"
                @click="loadDays">
          {{loadDataButtonText}}
        </button>
      </div><!-- .b-control--row-->
      <div class="b-errors">
        <ul class="b-error-list">
          <li v-for="error in datesErrors" class="b-error-list--item">{{error}}</li>
        </ul>
      </div><!-- .b-errors-->
    </div><!-- .b-control--group-->

    <!-- Choose and edit activity -->
    <div class="b-control--group">
      <div class="b-control--row">
        <div class="b-control--input-block">
          <label for="activity-choice-select" class="b-control--label">Choose activity:</label>
          <select name="activity_id" id="activity-choice-select" class="b-control--input"
                  :disabled="editActivity.isOn || apiCallInProcess"
                  v-model="mainActivityId">
            <option disabled value="">Please select one</option>
            <option v-for="activity in activities" :key="activity._id"
                    :selected="activity._id === mainActivityId"
                    :value="activity._id">{{activity.name}}</option>
          </select>
        </div>
        <div class="b-control--input-block b-control--input-block_no-label">
          <button class="button-light b-control--button"
                  v-show="!editActivity.isOn"
                  :disabled="apiCallInProcess"
                  @click="switchEditingActivityForm">
            Edit this activity
          </button>
          <button class="button-light b-control--button"
                  :disabled="apiCallInProcess"
                  v-show="editActivity.isOn"
                  @click="switchEditingActivityForm">
            Cancel edit
          </button>
        </div><!-- .b-control--input-block-->
      </div><!-- .b-control--row-->

      <div class="b-control--edit-activity" v-show="editActivity.isOn">
        <div class="b-control--row">
          <div class="b-control--input-block">
            <label for="activity-name-edit-input" class="b-control--label">Edit activity name:</label>
            <input type="text" name="activity_name" id="activity-name-edit-input" class="b-control--input"
                   :disabled="apiCallInProcess"
                   v-model.trim="editActivity.activityName">
          </div><!-- .b-control--input-block-->
          <div class="b-control--input-block b-control--input-block_no-label">
            <button class="button b-control--button"
                    @click="saveEditedActivity"
                    :disabled="apiCallInProcess"
                    v-show="!editActivity.savingInProcess">Save edited activity</button>
            <circle-animation class="b-control--loading-img" v-show="editActivity.savingInProcess"/>
          </div><!-- .b-control--input-block-->
        </div><!-- .b-control--row-->
        <div class="b-control--row">
          <div class="b-control--input-block">
            <button class="button-red b-control--button"
                    @click="deleteActivity"
                    v-show="!editActivity.deletingInProcess"
                    :disabled="apiCallInProcess">Delete activity</button>
            <circle-animation class="b-control--loading-img" v-show="editActivity.deletingInProcess"/>
          </div><!-- .b-control--input-block-->
        </div><!-- .b-control--row-->
      </div>
      <div class="b-errors">
        <ul class="b-error-list" :class="{'b-error-list_single': editActivity.errors.length === 1}">
          <li v-for="error in editActivity.errors" class="b-error-list--item">{{error}}</li>
        </ul>
      </div><!-- .b-errors-->

      <hr class="b-control--separator-line">

      <!-- Add new activity -->
      <div class="b-control--row">
        <div class="b-control--input-block">
          <button class="button-light b-control--button"
                  :disabled="apiCallInProcess"
                  v-show="!addActivity.isOn"
                  @click="switchAddingActivityForm">
            Add new activity
          </button>
          <button class="button-light b-control--button"
                  :disabled="apiCallInProcess"
                  v-show="addActivity.isOn"
                  @click="switchAddingActivityForm">
            Cancel adding new activity
          </button>
        </div><!-- .b-control--input-block-->
      </div><!-- .b-control--row-->
      <div class="b-control--row" v-show="addActivity.isOn">
        <div class="b-control--input-block">
          <label for="activity-name-add-input" class="b-control--label">New activity name:</label>
          <input type="text" name="activity_name" id="activity-name-add-input" class="b-control--input"
                 :disabled="apiCallInProcess"
                 v-model.trim="addActivity.activityName">
        </div><!-- .b-control--input-block-->
        <div class="b-control--input-block b-control--input-block_no-label">
          <button class="button b-control--button"
                  :disabled="apiCallInProcess"
                  @click="saveNewActivity"
                  v-show="!addActivity.savingInProcess">Save new activity</button>
          <circle-animation class="b-control--loading-img" v-show="addActivity.savingInProcess"/>
        </div><!-- .b-control--input-block-->
      </div><!-- .b-control--row-->
      <div class="b-errors">
        <ul class="b-error-list" :class="{'b-error-list_single': addActivity.errors.length === 1}">
          <li v-for="error in addActivity.errors" class="b-error-list--item">{{error}}</li>
        </ul>
      </div><!-- .b-errors-->

    </div><!-- .b-control--group-->
  </div><!-- .b-control-panel-->
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import CircleAnimation from "./CircleAnimation";
  import dataStructureHelper from "../library/dataStructureHelper";

  export default {
    name: "ControlPanel",
    components: {CircleAnimation, Datepicker},
    data: function() {
      return {
        dateStart: this.$store.getters.period.dateStart,
        dateEnd: this.$store.getters.period.dateEnd,
        datesErrors: [],
        loadDataDisabled: false,

        apiCallInProcess: false,

        editActivity: {
          isOn: false,
          activityName: '',
          savingInProcess: false,
          deletingInProcess: false,
          errors: [],
        },
        addActivity: {
          isOn: false,
          activityName: '',
          savingInProcess: false,
          errors: [],
        },

      };
    },

    mounted() {
      document.getElementById('date-start-input').setAttribute(this.$options._scopeId, '');
      document.getElementById('date-end-input').setAttribute(this.$options._scopeId, '');
    },

    computed: {
      /**
       * List of all activities
       *
       * @return [Object]
       */
      activities() { return this.$store.getters.allActivities; },
      /**
       * Main activity getter/setter
       */
      mainActivityId: {
        get() {return this.$store.getters.mainActivityId;},
        set(activityId) {this.$store.commit('setMainActivityId', {activityId});},
      },
      /**
       * Warn that dates have changed and loading needed
       *
       * @return Boolean
       */
      showDatesChangeWarning() {
        const {dateStart, dateEnd} = this.$store.getters.period;
        return this.dateStart.getTime() !== dateStart.getTime() || this.dateEnd.getTime() !== dateEnd.getTime();
      },
      /**
       * Text of Load button
       *
       * @return String
       */
      loadDataButtonText() {
        if (this.loadDataDisabled) {
          return 'Oops! Some data is invalid.';
        }
        return this.showDatesChangeWarning ? 'Dates changed. Click to load new data!': 'Load data';
      },
      /**
       * Dates to disable in "start date" Datepicker
       *
       * @return {{from: Date}}
       */
      startDatepickerDisabledDates() {
        const date = new Date(this.dateEnd.getTime());
        date.setDate(this.dateEnd.getDate() - 1);
        return {from: date};
      },
      /**
       * Dates to disable in "end date" Datepicker
       *
       * @return {{to: Date}}
       */
      endDatepickerDisabledDates() {
        const date = new Date(this.dateStart.getTime());
        date.setDate(this.dateStart.getDate() + 1);
        return {to: date};
      },
    },

    methods: {
      /**
       * Makes API call to delete activity
       */
      deleteActivity(event) {
        const activityId = this.mainActivityId;
        this.editActivity.deletingInProcess = true;

        this.apiCallInProcess = true;
        this.$apiDeleteActivity(activityId).then(response => {
          if (!response || !response.result) {
            throw new Error('Failed deleting activity');
          }
          const {dateStart, dateEnd} = this.$store.getters.period;
          this.$store.dispatch('initData', {dateStart, dateEnd});
        }).catch(error => console.log(error))
          .then(apiCallResult => {
            setTimeout(() => {
              this.apiCallInProcess = false;
              this.editActivity.deletingInProcess = false;
              this.editActivity.isOn = false;
            }, 700);
          });
      },
      /**
       * Sends edited activity to the server. Adds modification to the store on success
       *
       * @param event Click event
       */
      saveEditedActivity(event) {
        const activityId = this.mainActivityId;
        const activityAction = this.editActivity;
        this._saveActivity(activityAction, this.$apiEditActivity, 'Activity edit failed', activityId)
          .then((result) => {
            if (!result) {
              return;
            }
            const payload = {activityId, activityName: activityAction.activityName};
            this.$store.commit('editActivity', payload);
          });
      },
      /**
       * Sends new activity to the server. Adds it to the store on success
       *
       * @param event Click event
       */
      saveNewActivity(event) {
        const activityAction = this.addActivity;
        this._saveActivity(activityAction, this.$apiAddActivity, 'Activity saving failed')
          .then(newActivityId => {
            if (!newActivityId) {
              return;
            }
            const payload = {activityId: newActivityId, activityName: activityAction.activityName};
            this.$store.commit('addActivity', payload);
          });
      },
      /**
       * Basic functionality of activity modification
       *
       * @param activityAction Object with flag variables related to the current action (edit/add
       * @param apiCallback    Callback to send data to the server
       * @param errorMessage   Message in case API call fails
       * @param activityId     Id of activity to modify
       *
       * @return {Promise<string|boolean>} Promise of this action
       */
      _saveActivity(activityAction, apiCallback, errorMessage, activityId = null) {
        activityAction.errors = [];

        const activityName = activityAction.activityName;

        if (!dataStructureHelper.validateActivityName(activityName)) {
          activityAction.errors.push('Invalid activity name, use letters and digits.');
        }
        if (this.$store.getters.activityByName(activityName)) {
          activityAction.errors.push('Activity name should be unique');
        }
        if (activityAction.errors.length) {
          return Promise.resolve(false);
        }

        activityAction.savingInProcess = true;
        this.apiCallInProcess = true;
        return apiCallback(activityName, activityId)
          .then(response => {
            if (!response || !response.result) {
              throw new Error(errorMessage);
            }
            return response.result;
          }).catch(error => console.log(error))
          .then(apiCallResult => {
            setTimeout(() => {
              this.apiCallInProcess = false;
              activityAction.savingInProcess = false;
              activityAction.isOn = false;
            }, 700);
            return apiCallResult;
          });
      },
      /**
       * Shows/hides activity edit form
       *
       * @param event Click event
       */
      switchEditingActivityForm(event) {
        this.editActivity.isOn = !this.editActivity.isOn;
        this.editActivity.errors = [];
        if (!this.editActivity.isOn) {
          this.editActivity.activityName = '';
        } else {
          const activity = this.$store.getters.activityById(this.mainActivityId);
          this.editActivity.activityName = activity ? activity.name : null;
        }
      },
      /**
       * Shows/hides activity add form
       *
       * @param event Click event
       */
      switchAddingActivityForm(event) {
        this.addActivity.isOn = !this.addActivity.isOn;
        this.addActivity.errors = [];
        this.addActivity.activityName = '';
      },
      /**
       * Loads days info with a certain range from API
       *
       * @param event Click event
       */
      loadDays(event) {
        this.normalizeDates(this.dateStart, this.dateEnd);

        this.$store.commit(
          'setPeriod',
          {
            dateStart: this.dateStart,
            dateEnd: this.dateEnd,
          }
        );

        this.$apiGetDaysInRange(this.dateStart, this.dateEnd, this.mainActivityId)
          .then(response => {
            if (!response.result) {
              throw new Error('Loading dates failed');
            }
            this.$store.commit('setDays', {days: response.result});
          }).catch(error => console.log(error));
      },
      /**
       * Validates start date
       *
       * @param date Date object to validate
       */
      validateDateStart(date) {
        this.validateDatepicker(date, this.dateEnd, 'First date must be less than second date.');
      },
      /**
       * Validates end date
       *
       * @param date Date object to validate
       */
      validateDateEnd(date) {
        this.validateDatepicker(this.dateStart, date, 'Second date must be greater than first date.');
      },
      /**
       * Validates datepicker value
       *
       * @param earlierDate  Beginning of date range
       * @param latterDate   End of date range
       * @param errorMessage Error message to show
       */
      validateDatepicker(earlierDate, latterDate, errorMessage) {
        if (!earlierDate || !latterDate) {
          return;
        }
        this.normalizeDates(earlierDate, latterDate);
        if (earlierDate.getTime() >= latterDate.getTime()) {
          this.datesErrors.push(errorMessage);
          this.loadDataDisabled = true;
          return;
        }
        this.loadDataDisabled = false;
        this.datesErrors = [];
      },
      /**
       * Sets time to zeros for every given date object
       *
       * @param dates Date objects
       */
      normalizeDates(...dates) {
        dates.forEach(date => date.setHours(0, 0, 0, 0));
      },
    },
  }
</script>

<style scoped>
  .b-control-panel {
    padding: 10px 0 0;
    max-width: 442px;
  }
  .b-control--group {
    border: 1px solid var(--main-color);
    margin-bottom: 25px;
    padding: 15px 10px 5px;
  }
  .b-control--row {
    display: flex;
  }
  .b-control--row {
    margin-bottom: 15px;
  }
  .b-control--input-block:not(:first-child) {
    margin-left: 20px;
  }
  .b-control--input-block {
    width: 200px;
  }
  .b-control--input-block_no-label {
    padding-top: calc(1rem + 5px);
  }
  .b-control--input, .b-control--button {
    box-sizing: content-box;
    font-size: 1rem;
    padding: 5px 7px;
    height: calc(1rem + 5px);
    width: 184px;
  }
  .b-control--button_full-width {
    width: 100%;
  }
  .b-control--label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .b-control--separator-line {
    border-top: 1px solid var(--main-color);
    margin-bottom: 15px;
  }
  .b-control--loading-img {
    display: block;
    height: 30px;
    margin: auto;
    width: 30px;
  }
</style>