<template>
  <div class="b-cell b-day"
       @click="isDisabledDay ? null : checkoutDay()"
       :class="{'b-day_checked': status, 'b-day_disabled': isDisabledDay}">
    {{date.getDate()}}
  </div>
</template>

<script>
  export default {
    name: "Day",
    props: {
      date: Date,
    },
    computed: {
      /**
       * Whether activity was done on this day or not
       *
       * @returns Boolean
       */
      status() {
        const day = this.$store.getters.day(this.date);
        const activityId = this.$store.getters.mainActivityId;
        if (!day || !activityId) {
          return false;
        }
        return !!day.activityStatuses[activityId];
      },

      /**
       * If day should not be interactive
       *
       * @returns Boolean
       */
      isDisabledDay() {
        const {dateStart, dateEnd} = this.$store.state.period;

        const isBeforeStart = dateStart.getFullYear() === this.date.getFullYear()
          && dateStart.getMonth() === this.date.getMonth()
          && this.date.getDate() < dateStart.getDate();

        const isAfterEnd = dateEnd.getFullYear() === this.date.getFullYear()
          && dateEnd.getMonth() === this.date.getMonth()
          && this.date.getDate() > dateEnd.getDate();

        return isBeforeStart || isAfterEnd;
      },
    },

    methods: {
      /**
       * Sends checkout request to API. Transmits date and status of that date.
       *
       * @param event Event
       */
      checkoutDay(event) {
        const activityId = this.$store.getters.mainActivityId;

        this.$apiCheckoutDay(this.date, activityId, this.status).then((response) => {
          if (!response || !response.result) {
            throw new Error('Checkout failed');
          }

          this.$store.commit('switchDayStatus', {
            date: this.date,
            activityId,
          });

        }).catch(error => console.log(error));
      },
    },
  }
</script>

<style scoped>
  .b-day {
    border-radius: 4px;
    color: var(--main-color);
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(var(--main-color-rgb-values), 0.05);
  }
  .b-day:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .b-day_checked {
    background: var(--secondary-color);
    color: #fff;
  }
  .b-day_checked:hover {
    background: var(--secondary-color-dark);
  }
  .b-day_disabled {
    color: var(--third-color);
  }
  .b-day_disabled:hover {
    background: none;
    cursor: auto;
  }
</style>