<template>
  <div class="b-month">
    <div class="b-month--header">{{ monthNames[month.getMonth()] + ' ' + month.getFullYear()}}</div>
    <div class="b-month--body">
      <div class="b-cell b-cell_header"
           v-for="(weekDayName, index) in weekDaysLabels" :key="index"
      >{{ weekDayName }}</div>
      <div class="b-cell" v-for="(dayNumber, index) in beforeMonthStartDaysCount" :key="'start' + index"></div>
      <Day
          v-for="dayNumber in daysInMonthCount"
          :key="month.getFullYear() + '-' + (month.getMonth() + 1) + '-' + dayNumber"
          :date="new Date(month.getFullYear(), month.getMonth(), dayNumber)"
      />
      <div class="b-cell" v-for="(dayNumber, index) in afterMonthEndDaysCount" :key="'end' + index"></div>
    </div>
  </div>
</template>

<script>
  import Day from "./Day";

  export default {
    name: "Month",
    components: {Day},
    data: function () {
      return {
        weekDaysLabels: ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su',],
        monthNames: ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"],
      }
    },
    props: {
      month: Date,
    },
    computed: {
      /**
       * Amount of days in the week before first day of the month
       *
       * @returns {number}
       */
      beforeMonthStartDaysCount() {
        let weekDay = (new Date(this.month.getFullYear(), this.month.getMonth(), 1)).getDay();
        weekDay = weekDay === 0 ? 7 : weekDay;
        return weekDay - 1;
      },

      /**
       * Amount of days in the week after the last day of the month
       *
       * @returns {number}
       */
      afterMonthEndDaysCount() {
        let weekDay = (new Date(this.month.getFullYear(), this.month.getMonth() + 1, 0)).getDay();
        weekDay = weekDay === 0 ? 7 : weekDay;
        return 7 - weekDay;
      },
      /**
       * Amount of days in given month
       *
       * @returns {number}
       */
      daysInMonthCount() {
        return (new Date(this.month.getFullYear(), this.month.getMonth() + 1, 0)).getDate();
      },
    },
    methods: {},
  }
</script>

<style scoped>
  .b-month {
    margin: 20px 10px 0;
    width: 400px;
  }
  .b-month--body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
  }
  .b-month--header {
    border-bottom: 1px solid #aaaaaa;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }
</style>