<template>
  <div id="app" class="b-main">
    <Calendar greeting="Pick the stuff you've done so far"/>
  </div>
</template>

<script>
import Calendar from './components/Calendar.vue'

export default {
  name: 'App',
  components: {
    Calendar
  },
  created() {
    this.$store.dispatch('initData', {
      dateStart: this.$store.getters.period.dateStart,
      dateEnd: this.$store.getters.period.dateEnd,
    });
  },
}
</script>

<style>
  @import url(assets/fonts/Roboto/Roboto.css);
  @import url(assets/fonts/OpenSans/OpenSans.css);

  :root {
    --main-color-rgb-values: 14, 35, 63;
    --main-color: rgb(var(--main-color-rgb-values));
    --main-color-light: rgb(25, 60, 109);

    --secondary-color-rgb-values: 82, 122, 175;
    --secondary-color: rgb(var(--secondary-color-rgb-values));
    --secondary-color-dark: #43638e;
    --secondary-color-light: #6697d9;

    --third-color-rgb-values: 152, 163, 176;
    --third-color: rgb(var(--third-color-rgb-values));

    --fourth-color: #d1dbe6;

    --success-color: #45c39e;
    --warning-color: #dfb158;
    --error-delete-color: #df6a5b;
    --error-delete-color-dark: #a85246;
  }

  html {
    font-size: 15px;
  }
  html, input, select, textarea, button {
    color: var(--main-color);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, sans-serif;
  }
  h1 {
    font-size: 2.6rem;
  }
  h1, h2, h3, h4, h5, h6, ul, li, input, select, textarea, button {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  a {
    color:var(--secondary-color);
  }
  button, select {
    cursor: pointer;
  }
  input, select, textarea, button {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    box-sizing: content-box;
    font-size: 1rem;
  }
  input[disabled], select[disabled], textarea[disabled] {
    background-color: rgba(var(--third-color-rgb-values), 0.27);
    border-color: var(--third-color);
    cursor: auto;
  }

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .link-button {
    vertical-align: bottom;
    text-decoration: none;
  }

  .button, .button-light, .button-red {
    border: 1px solid;
    padding: 5px 30px;
    text-shadow: 1px 1px 1px rgba(var(--main-color-rgb-values), 0.3);
    transition: color 0.1s, background-color 0.1s, border-color 0.1s;
    transition-timing-function: ease-in-out;
  }
  .button {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
  }
  .button:hover {
    border-color: var(--secondary-color-dark);
    background-color: var(--secondary-color-dark);
  }
  .button-light {
    background-color: rgba(var(--secondary-color-rgb-values), 0.08);
    border-color: var(--main-color-light);
    color: var(--main-color-light);
    text-shadow: 1px 1px 1px rgba(var(--main-color-rgb-values), 0.09);
  }
  .button-light:hover {
    background-color: rgba(var(--secondary-color-rgb-values), 0.2);
    border-color: var(--main-color);
    color: var(--main-color);
  }
  .button-red {
    background-color: var(--error-delete-color);
    border-color: var(--error-delete-color);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(var(--main-color-rgb-values), 0.09);
  }
  .button-red:hover {
    background-color: var(--error-delete-color-dark);
    border-color: var(--error-delete-color-dark);
    color: #fff;
  }
  .button.warning, .button-light.warning {
    border-color: var(--secondary-color-light);
    background-color: var(--secondary-color-light);
  }
  .button[disabled], .button-light[disabled], .button-red[disabled] {
    background-color: var(--third-color);
    border-color: var(--third-color);
    color: #fff;
    cursor: auto;
  }

  .b-error-list {
    list-style: decimal inside;
    padding-left: 20px;
  }
  .b-error-list_single {
    list-style: none;
  }
  .b-error-list--item {
    color: var(--error-delete-color);
  }

  .b-main {
    margin: auto;
    max-width: 1500px;
  }

  .b-cell, .b-cell_header {
    text-align: center;
  }
  .b-cell {
    color: #919191;
    font-size: 1.4rem;
    padding: 7px 0;
  }
  .b-cell_header {
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: bold;
  }
</style>